<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta
      content="<%= htmlWebpackPlugin.options.productDescription %>"
      name="description"
    >
    <meta
      content="telephone=no"
      name="format-detection"
    >
    <meta
      content="no"
      name="msapplication-tap-highlight"
    >
    <meta
      content="<%= htmlWebpackPlugin.options.version %>"
      name="version"
    >
    <meta
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
      name="viewport"
    >
    <script type="text/javascript">window.fix = { finally: Promise.prototype.finally }</script>
    <script type="text/javascript" src="statics/configuration.js"></script>
    <script type="text/javascript">window.configuration = configuration;</script>
    <link
      href="statics/quasar-logo.png"
      rel="icon"
      type="image/x-icon"
    >
    <link
      href="statics/icons/g_favicon.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    >
    <link
      href="statics/icons/g_favicon.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    >
    <script src="https://kit.fontawesome.com/dbbee11a0d.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
<!--  <script src="https://use.fontawesome.com/2ac1cea8c2.js"></script>-->
<!--  <link rel="stylesheet" href="statics/font-awesome/css/font-awesome.min.css">-->
</html>
